<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sinni.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Word_card" />
        <activity android:name=".Multiple_choice" />
        <activity android:name=".Multiple_choice_score" />
        <activity android:name=".Learn_voc" />
        <activity android:name=".GP_list" />
        <activity android:name=".Word_or_voc" />
        <activity android:name=".Learn_or_test" />
        <activity android:name=".Learn_word" />
        <activity android:name=".TextMultiple" />
        <activity android:name=".SituationSelect" />
        <activity android:name=".StructureCognition" />
        <activity android:name=".StructureTeaching" />
        <activity android:name=".StructureExercise" />
        <activity android:name=".End" />
        <activity android:name=".UpperAndLowerCombinations" />
        <activity android:name=".Structures_level2" />
        <activity android:name=".Structures_level3"></activity>
    </application>

</manifest>